.card
{
    padding: .5em;
    > div {
        cursor: pointer;
        transition: all .5s ease;
        color: @color-dark;
        text-shadow: 1px 1px 2px @color-light-shadow;
        background-color: fadeout(@color-shadow, 40%);
        img {
            transition: all .5s ease;
            transform: scale(.85);
        }
        &:hover {
            color: @color-light;
            text-shadow: 1px 1px 2px @color-dark-shadow;
            img {
                transform: scale(1);
            }
            &.card-event {
                background: @color-card-event;
            }
            &.card-guest {
                background: @color-card-guest;
            }
            &.card-room {
                background: @color-card-room;
            }
            &.card-vendor {
                background: @color-card-vendor;
            }
            &.card-supporter {
                background: @color-card-supporter;
            }
            &.card-ludwigsburg {
                background: @color-card-ludwigsburg;
            }
            &.card-venue {
                background: @color-card-venue;
            }
            &.card-team {
                background: @color-card-team;
            }
            &.card-rules {
                background: @color-card-rules;
            }
        }
        header {
            h2 {
                padding: 0 1em;
            }
        }
        footer {
            border-top: 1px solid @color-shadow;
        }
    }
}
